@charset "UTF-8";
/* v2.0 | 20110126 http://meyerweb.com/eric/tools/css/reset/ License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/********************* 	common ********************/
.screen-out { position: absolute; top: -9999em; text-indent: -9999em; }

.mDim { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; filter: alpha(opacity=60); z-index: 10; display: none; }
.mDim.on { display: block; }

.mWrap { width: 640px; margin: 0 auto; overflow: hidden; position: relative; }

	/**********
	header
***********/
.mHeader { text-align: center; padding: 32px 0 34px; background: #eadcc2; position: relative; }
.mHeader .mLogo { display: inline-block; }
.mHeader-toggle { background: transparent url("../images/m/toggle.png") no-repeat 0 top; display: block; width: 50px; height: 43px; position: absolute; top: 37px; right: 22px; text-indent: -9999em; }
.mHeader-toggle.on { background-position: 0 bottom; }

/**********
	nav
***********/
.mNav { position: absolute; top: 0; right: -400px; height: 100%; background: #f6f1e6; z-index: 100; }
.mNav-item { background: transparent url("../images/m/nav-bottom-line.png") no-repeat center top; }
.mNav-item:first-child { background: none; }
.mNav-link { background: transparent url("../images/m/nav-img-ir.png") no-repeat center 50px; display: block; width: 400px; margin-left: auto; margin-right: auto; text-indent: -99999em; }
.mNav-itaewon { height: 147px; padding-top: 50px; padding-bottom: 19px; }
.mNav-menu { height: 149px; padding-top: 29px; padding-bottom: 19px; background-position: center -169px; }
.mNav-event { height: 140px; padding-top: 38px; padding-bottom: 19px; background-position: center -369px; }
.mNav-ambassador { height: 136px; padding-top: 41px; background-position: center -568px; }

/**********
	container
***********/
.mContainer { position: relative; text-align: center; }

/**********
	event date
***********/
.event-date { background: transparent url("../images/event/m/event-date.png") no-repeat center top; width: 529px; height: 21px; margin: 18px auto 0; text-indent: -99999em; overflow: hidden; }

/**********
	tab
***********/
.tab { position: fixed; overflow: hidden; left: 50%; top: 134px; margin-left: -282.5px; z-index: 1; }
.tab__item { float: left; }
.tab__link { background: transparent url("../images/event/m/btn-ir.png") no-repeat 0 top; display: block; width: 180px; height: 76px; }
.tab__item.on .tab__link { background-position: 0 -77px; }
.tab__link--sec { margin-left: 13px; background-position: -188px 0; }
.tab__item.on .tab__link--sec { background-position: -188px -77px; }
.tab__link--last { margin-left: 12px; background-position: -380px 0; }
.tab__item.on .tab__link--last { background-position: -380px -77px; }

/**********
	event top
***********/
.event-top { background: transparent url("../images/event/m/top-bg.png") no-repeat center top; padding-top: 225px; padding-bottom: 103px; }
.event-top__tit { margin-top: 20px; }
.event-top__goEvent { background: transparent url("../images/event/m/btn-ir.png") no-repeat -283px -383px; width: 63px; height: 61px; display: inline-block; margin-top: 48px; }

/**********
	event accent
***********/
.event-accent { background: #eadfdd url("../images/event/m/event1-bg-bottom.png") no-repeat center bottom; padding-top: 56px; padding-bottom: 79px; }
.event-accent__txt { margin-top: 20px; }
.event-accent__tip { margin-top: 38px; }

/**********
	mEvent btn
***********/
.mEvent-btn { background: transparent url("../images/event/m/btn-ir.png") no-repeat center top; display: inline-block; height: 81px; width: 276px; margin-top: 114px; }
.mEvent-btn__join-now { background-position: 0 -209px; }
.mEvent-btn__gift { margin-left: 3px; background-position: -284px -209px; }

/**********
	mInstargram
***********/
.mInstargram { margin: 19px auto 0; width: 564px; height: 561px; position: relative; *zoom: 1; }
.mInstargram:after { content: ''; display: table; clear: both; }
.mInstargram__pic { float: left; overflow: hidden; display: inline-block; position: relative; width: 188px; height: 187px; }
.mInstargram__pic img { width: 100%; }
.mInstargram__bg { background: transparent url("../images/event/m/instar-bg-ir.png") no-repeat 0 top; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.mInstargram__bg--0 { background-position: 0px 0; }
.mInstargram__bg--1 { background-position: -188px 0; }
.mInstargram__bg--2 { background-position: -376px 0; }
.mInstargram__bg--3 { background-position: -564px 0; }
.mInstargram__bg--4 { background-position: -752px 0; }
.mInstargram__bg--5 { background-position: -940px 0; }
.mInstargram__bg--6 { background-position: -1128px 0; }
.mInstargram__arrow { background: transparent url("../images/event/m/btn-ir.png") no-repeat center top; display: block; width: 68px; height: 67px; position: absolute; top: 579px; }
.mInstargram__arrow--prev { left: 199px; background-position: -342px -312px; }
.mInstargram__arrow--next { left: 297px; background-position: -439px -312px; }

/**********
	digital playground 소문내기
***********/
.event-digital { background: #fff url("../images/event/m/event2-bg-bottom.png") no-repeat center bottom; padding-top: 53px; padding-bottom: 78px; }
.event-digital__txt { margin-top: 19px; }
.event-digital__what-is { background: transparent url("../images/event/m/event2-bg.png") no-repeat center top; width: 545px; height: 642px; margin: 39px auto 0; padding-top: 41px; padding-left: 15px; text-align: left; }
.event-digital__what-is__content { margin-left: 25px; }
.event-digital__what-is__txt { margin-top: 18px; }
.event-digital__what-is__btn { margin-top: 13px; }
.event-digital__discription { background: transparent url("../images/event/m/event2-whatIsPlayground-floor-disc.png") no-repeat center top; width: 530px; height: 364px; text-indent: -9999em; overflow: hidden; margin-top: 40px; }
.event-digital__join-way { margin-top: 17px; }
.event-digital__join-way__list { background: transparent url("../images/event/m/event2-eventJoinWay-step.png") no-repeat center top; height: 337px; margin-top: 10px; overflow: hidden; text-indent: -9999em; }
.event-digital .mEvent-btn { margin-top: 29px; }
.event-digital .mEvent-btn__rumor { background-position: 0 -301px; }

/**********
	mApplication download
***********/
.mApplication { background: #c9ae82 url("../images/event/m/app-bg.png") no-repeat 34px 26px; text-align: left; padding-top: 30px; padding-bottom: 29px; padding-left: 270px; }
.mApplication__txt { margin-top: 14px; }

/**********
	mCaution
***********/
.mCaution { background: #2a2827 url("../images/event/m/caution-bg-top.png") no-repeat center top; padding-top: 38px; padding-bottom: 38px; padding-left: 40px; text-align: left; }
.mCaution__txt { background: transparent url("../images/event/m/caution-txt.png") no-repeat 0 top; margin-top: 19px; height: 222px; overflow: hidden; text-indent: -9999em; }

.event-pop .close, .comingSoon-btn, .takePic__btn, .userInfo__btn { display: inline-block; border: none; cursor: pointer; }

.event-pop { position: absolute; left: 50%; display: none; z-index: 100; padding-top: 43px; background: #fff; }

.event-pop.on { display: block; }

.event-pop .close { position: absolute; background: transparent url("/Images/itaewon/event/popup/mClose.png") no-repeat center top; width: 50px; height: 50px; top: 19px; right: 20px; }

/**********
	경품
***********/
.mGift { width: 640px; margin-left: -320px; top: 0; padding-bottom: 43px; }
.mGift .mGift__top, .mGift .mGift__bottom { height: 343px; width: 562px; padding-top: 12px; margin-left: auto; margin-right: auto; margin-bottom: 0; }
.mGift .mGift__img--top, .mGift .mGift__img--bottom { text-indent: -9999em; overflow: hidden; height: 217px; margin: 12px auto 0; }
.mGift__top { background: transparent url("../images/event/popup/mGift-innerBg-top.png") no-repeat center top; margin-top: 28px; }
.mGift__bottom { background: transparent url("../images/event/popup/mGift-innerBg-bottom.png") no-repeat center top; margin-top: 9px; }
.mGift__img--top { background: transparent url("../images/event/popup/mGift-top.png") no-repeat center top; width: 520px; }
.mGift__img--bottom { background: transparent url("../images/event/popup/mGift-bottom.png") no-repeat center top; width: 513px; }
.mGift__caution { background: transparent url("../images/event/popup/mGift-caution.png") no-repeat center top; width: 514px; height: 132px; margin: 18px auto 0; text-indent: -9999em; overflow: hidden; }

/*# sourceMappingURL=eventM.css.map */
