$location-local: '../images/';
$location-global: '/Images/itaewon/';
$location-localM: '../images/m/';
$location-globalM: '/Images/itaewon/m/';


$max-height: 1420px;
$min-height: 698px;
$max-width: 3000px;
$min-width: 1000px;

$width-m: 640px;